    <div class="right-side">Выберите чат чтобы отправить сообщение
    {{> Button label="Посмотреть страницу 404" type="primary" page="errorPage404"}}
    {{> Button label="Посмотреть страницу 500" type="primary" page="errorPage500"}}
    </div>


